{% extends 'music_nation/base.html' %}

{%block title%}
{%endblock%}
{%block content%}

<div>
  <ul class="home-list" style="">
    {% for album in albums %}
      <li >
        <span><a class="home-a" href="{% url 'music_nation:album_detail' username=album.album_artist album=album.album_name %}">
          <img src="{{ album.album_logo.url }}" style="width:100px">
        </a></span>
         <span style="color:#007bff;">{{album.album_name}} by</span>
        <a class="home-a" href="{% url 'music_nation:profile_detail' username=album.album_artist %}">
          {{album.album_artist}}
        </a>
      </li><hr/>
    {% endfor %}
  </ul>

  <div class="utm-wrap">
      <h1>Group Aventator</h1><br/>

      <div class="utm-gallery" style="display:flex;justify-content: center;">
          <div style="margin-right:15px;">
              <a href="showgallery">Gallery</a>
          </div>
          <div>
              <a href="showspec">Specification</a>
          </div>
      </div>

      <div class="controls utm-button" style="text-align:center;">
        <button type="button" id="mic">Get Microphone</button>
        <button type="button" id="record" hidden>Record</button>
      </div>
      <ul id="recordings"></ul>

      <div class="utm-gallery">
          <a href="showform">Upload</a>
      </div>

  </div>







    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const getMic = document.getElementById('mic');
        const recordButton = document.getElementById('record');
        const list = document.getElementById('recordings');
        if ('MediaRecorder' in window) {
          getMic.addEventListener('click', async () => {
            getMic.setAttribute('hidden', 'hidden');
            try {
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: true,
                video: false
              });
              const mimeType = 'audio/wav';
              let chunks = [];
              const recorder = new MediaRecorder(stream, { type: 'audio/wav' });
              recorder.addEventListener('dataavailable', event => {
                if (typeof event.data === 'undefined') return;
                if (event.data.size === 0) return;
                chunks.push(event.data);
              });
              recorder.addEventListener('stop', () => {
                const recording = new Blob(chunks, {
                  type: mimeType
                });
                renderRecording(recording, list);
                chunks = [];
              });
              recordButton.removeAttribute('hidden');
              recordButton.addEventListener('click', () => {
                if (recorder.state === 'inactive') {
                  recorder.start();
                  recordButton.innerText = 'Stop';
                } else {
                  recorder.stop();
                  recordButton.innerText = 'Record';
                }
              });
            } catch {
              renderError(
                'You denied access to the microphone so this demo will not work.'
              );
            }
          });
        } else {
          renderError(
            "Sorry, your browser doesn't support the MediaRecorder API, so this demo will not work."
          );
        }
      });

      function renderError(message) {
        const main = document.querySelector('main');
        main.innerHTML = `<div class="error"><p>${message}</p></div>`;
      }

      function renderRecording(blob, list) {
        const blobUrl = URL.createObjectURL(blob);
        const li = document.createElement('li');
        const audio = document.createElement('audio');
        const anchor = document.createElement('a');
        anchor.setAttribute('href', blobUrl);
        const now = new Date();
        anchor.setAttribute(
          'download',
          `recording-${now.getFullYear()}-${(now.getMonth() + 1)
            .toString()
            .padStart(2, '0')}-${now
            .getDay()
            .toString()
            .padStart(2, '0')}--${now
            .getHours()
            .toString()
            .padStart(2, '0')}-${now
            .getMinutes()
            .toString()
            .padStart(2, '0')}-${now
            .getSeconds()
            .toString()
            .padStart(2, '0')}.wav`
        );
        anchor.innerText = 'Download';
        audio.setAttribute('src', blobUrl);
        audio.setAttribute('controls', 'controls');
        li.appendChild(audio);
        li.appendChild(anchor);
        list.appendChild(li);

            //on rec.stop()
        console.log(blob);
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "", true);
        var data = new FormData();
        data.append('data', blob, 'audio_blob');
        xhttp.send(data);
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
             }
        };


      }
    </script>

</div>

{%endblock%}
